<div class="chat-container">
  <div class="notification" *ngIf="showNotification">New message received!</div>

  <div class="messages mt-5">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let message of messages">
        {{ message }}
      </li>
    </ul>
  </div>

  <div class="input-area">
    <form (submit)="$event.preventDefault()">
      <input
        class="input-field"
        type="text"
        name="message"
        [(ngModel)]="message"
        placeholder="Type your message here..."
      />
      <button class="input-button" (click)="sendMessage()">Send</button>
    </form>
  </div>
</div>
